@font-face {
  font-family: "iconfont"; /* Project id 4711563 */
  src: url('iconfont.woff2?t=1729260051303') format('woff2'),
       url('iconfont.woff?t=1729260051303') format('woff'),
       url('iconfont.ttf?t=1729260051303') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-maximize:before {
  content: "\e600";
}

.icon-border:before {
  content: "\e7a9";
}

.icon-pushpin:before {
  content: "\e7e4";
}

.icon-close:before {
  content: "\e7fc";
}

.icon-minus:before {
  content: "\e7fd";
}

.icon-search:before {
  content: "\e8ef";
}

.icon-menu:before {
  content: "\e7f4";
}

.icon-earth:before {
  content: "\e781";
}

.icon-message:before {
  content: "\e78a";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-Import:before {
  content: "\e791";
}

.icon-appstore:before {
  content: "\e792";
}

.icon-control:before {
  content: "\e794";
}

.icon-adduser:before {
  content: "\e7af";
}

.icon-deleteteam:before {
  content: "\e7b0";
}

.icon-deleteuser:before {
  content: "\e7b1";
}

.icon-addteam:before {
  content: "\e7b2";
}

.icon-team:before {
  content: "\e7b4";
}

.icon-safetycertificate:before {
  content: "\e7c0";
}

.icon-unlock:before {
  content: "\e7c9";
}

.icon-lock:before {
  content: "\e7ca";
}

.icon-folder:before {
  content: "\e7d1";
}

.icon-folder-open:before {
  content: "\e7d2";
}

.icon-folder-add:before {
  content: "\e7d3";
}

.icon-mail:before {
  content: "\e7de";
}

.icon-idcard:before {
  content: "\e7df";
}

.icon-api:before {
  content: "\e7e1";
}

.icon-disconnect:before {
  content: "\e7e2";
}

.icon-link:before {
  content: "\e7e3";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-user:before {
  content: "\e7ae";
}

/* 更改的信息 */
.icon-user-nick:before {
  content: "\e7ae";
}

.icon-password:before {
  content: "\e7ca";
}

.icon-checkcode:before {
  content: "\e7c0";
}

.icon-chat:before {
  content: "\e78a";
}

.icon-top:before {
  content: "\e7e4";
}

.icon-min:before {
  content: "\e7fd";
}

.icon-max:before {
  content: "\e7a9";
}

.icon-email:before {
  content: "\e7de";
}